*{
	margin: 0;
	padding: 0;
}

body {
	height: 10000px;
}

.welcome_to_the_club {
	width: 100px;
	background-color: lightgreen;
	border: 1px solid green;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	top: 30px;
	left: 70%;
	font-size: 14px;
	text-align: center;
}

.to_the_club {
	height: 700px;
	background-color: aqua;
	text-align: center;
	padding-top: 50px;
}

/*Общий блок сайта*/
.wraper {
	width: 70%;
	padding: 10px;
	margin: 0 auto;
}

.menuContent{
	background-color: #F0E68C;
}

.heder{
	background-color: #ADD8E6;
	text-align: center;
	padding: 10px 0px;
	font-size: 22px;
	color: #0000FF;
}

.menu{
	width: 180px;
	float: left;
}

.content{
	background: url(../img/ballfoot.png) repeat-y top right;
	padding: 20px;
	padding: 0;
	margin-left: 180px;
	background-color: white;
}

.footer{
	background-color: #ADD8E6;
	text-align: center;
	padding: 10px 0px;
	font-size: 22px;
	color: #0000FF;
}

.clear{
	clear: both;
}

/*Наполнение меню*/

.hederMenu {
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
	list-style-type: none;
}

.list{
	margin-left: 30px;
	margin-bottom: 5px;
}

.listList{
	margin-top: 20px;
}

/*Наполнение контента*/
.textContent{
	margin: 0px 5px 0px 5px;
	font-size: 16px;
	padding: 20px;
}

.img{
	float: left;
}

.balls{
	height: 170px;
	width: 290px;
	margin: 25px 5px 5px 25px;
}

.contentBasket{
	background: url(../img/ballbasket.png) repeat-y top right;
	padding: 20px;
	padding: 0;
	margin-left: 180px;
	background-color: white;
}

.contentBadminton{
	background: url(../img/ballbadminton.png) repeat-y top right;
	padding: 20px;
	padding: 0;
	margin-left: 180px;
	background-color: white;
}

.contentBaseball{
	background: url(../img/ballbase.png) repeat-y top right;
	padding: 20px;
	padding: 0;
	margin-left: 180px;
	background-color: white;
}

.contentVolleyball{
	background: url(../img/ballvolley.png) repeat-y top right;
	padding: 20px;
	padding: 0;
	margin-left: 180px;
	background-color: white;
}

.contentHandball{
	background: url(../img/ballhand.png) repeat-y top right;
	padding: 20px;
	padding: 0;
	margin-left: 180px;
	background-color: white;
}

.contentGolf{
	background: url(../img/ballgolf.png) repeat-y top right;
	padding: 20px;
	padding: 0;
	margin-left: 180px;
	background-color: white;
}











