.links{
	margin-top: 50px;
	text-align: center;
}

.link{
	display: inline-block;
	width: 120px;
	border-right: solid red 5px;
	padding: 10px 10px 10px 3px;
}

.last{
	border-right: 0px;
}

a{
	color: green;
}

.linkLink{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	border-right: solid red 5px;
	border-left: solid red 5px;
	width: 110px;
	height: 50px;
	font-size: 32px;
}