.stars{
	margin-top: 50px;
	width: 1050px;
}

.star{
	display: inline-block;
	width: 155px;
	height: 155px;
	background-color: #EA593D;
	position: relative;
}

.star:before{
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	right: 1px;
	background-color: white;
}

.star,
.star:before{
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	float: right;
	text-align: center;
}

.star:hover:before{
	background-color: #EA593D;
}

.star:hover ~ .star:before{
	background-color: #EA593D;
}